In [1]:
import pandas as pd
import quantstats as qs

In [4]:
spy = pd.read_csv("./charts/spy_historical.csv")
spy

            Date  Close/Last     Volume    Open    High      Low
0     04/28/2023    415.9300   89433140  411.49  415.94  411.430
1     04/27/2023    412.4100   92968370  407.00  412.69  406.740
2     04/26/2023    404.3600   80447050  406.72  407.84  403.780
3     04/25/2023    406.0800   97766720  410.58  411.16  406.020
4     04/24/2023    412.6300   64332100  411.99  413.07  410.600
...          ...         ...        ...     ...     ...      ...
2512  05/07/2013    162.5999   89907260  162.13  162.65  161.670
2513  05/06/2013    161.7800   66700110  161.49  162.01  161.420
2514  05/03/2013    161.3680  143975800  161.14  161.88  159.782
2515  05/02/2013    159.7500   96313320  158.68  159.89  158.530
2516  05/01/2013    158.2800  138694300  159.33  159.41  158.100

[2517 rows x 6 columns]

In [6]:
spy['year'] = spy['Date'].apply(lambda x: x[-4:])
spy

            Date  Close/Last     Volume    Open    High      Low  year
0     04/28/2023    415.9300   89433140  411.49  415.94  411.430  2023
1     04/27/2023    412.4100   92968370  407.00  412.69  406.740  2023
2     04/26/2023    404.3600   80447050  406.72  407.84  403.780  2023
3     04/25/2023    406.0800   97766720  410.58  411.16  406.020  2023
4     04/24/2023    412.6300   64332100  411.99  413.07  410.600  2023
...          ...         ...        ...     ...     ...      ...   ...
2512  05/07/2013    162.5999   89907260  162.13  162.65  161.670  2013
2513  05/06/2013    161.7800   66700110  161.49  162.01  161.420  2013
2514  05/03/2013    161.3680  143975800  161.14  161.88  159.782  2013
2515  05/02/2013    159.7500   96313320  158.68  159.89  158.530  2013
2516  05/01/2013    158.2800  138694300  159.33  159.41  158.100  2013

[2517 rows x 7 columns]

In [7]:
spy_2018 = spy[spy['year'] == '2018']
spy_2018

            Date  Close/Last     Volume    Open      High       Low  year
1089  12/31/2018      249.92  143399900  249.56  250.1900  247.4700  2018
1090  12/28/2018      247.75  152931300  249.58  251.4000  246.4500  2018
1091  12/27/2018      248.07  184664900  242.57  248.2900  238.9600  2018
1092  12/26/2018      246.18  217567600  235.97  246.1800  233.7600  2018
1093  12/24/2018      234.34  147311600  239.04  240.8355  234.2700  2018
...          ...         ...        ...     ...       ...       ...   ...
1335  01/08/2018      273.92   57116850  273.31  274.1000  272.9800  2018
1336  01/05/2018      273.42   82724160  272.51  273.5600  271.9500  2018
1337  01/04/2018      271.61   80455860  271.20  272.1600  270.5447  2018
1338  01/03/2018      270.47   89133670  268.96  270.6400  268.9600  2018
1339  01/02/2018      268.77   86408820  267.84  268.8100  267.4000  2018

[251 rows x 7 columns]

In [12]:
spy_close = pd.to_numeric(spy_2018['Close/Last'])

In [20]:
ret = spy_close.diff().to_numpy()
ret = ret[1:] / spy_close.to_numpy()[:-1]
ret

array([-8.68277849e-03,  1.29162462e-03, -7.61881727e-03, -4.80948899e-02,
        2.71400529e-02,  2.68799335e-02,  1.65473156e-02,  1.52033750e-02,
        1.09769484e-03,  2.00109649e-02,  1.88121473e-02,  3.39149113e-04,
       -5.01017102e-03, -2.27160868e-04, -1.89343735e-03,  2.37887468e-02,
        1.51941891e-03,  3.34875116e-02, -1.30683852e-02, -6.05840740e-03,
        2.18994087e-03, -2.25071018e-02, -3.35320417e-03, -1.58878505e-02,
        6.72364672e-03, -3.39597012e-03,  1.88550659e-02,  1.72054998e-02,
       -2.59379681e-03, -1.03289136e-02,  6.88378979e-03,  1.87458649e-03,
        1.90409803e-02,  9.86463134e-03,  1.81818182e-03, -2.09601082e-02,
       -6.28816516e-03, -5.48666740e-03,  5.95829196e-03, -1.05297795e-02,
       -1.05679341e-02, -1.46020839e-02,  5.57113621e-03,  1.79022350e-02,
       -1.76244076e-02,  3.12452887e-02,  5.11677205e-03,  4.50892695e-03,
        5.42986425e-04,  1.46526773e-02, -1.78284899e-04, -2.13980029e-02,
        5.64868805e-03, -1.36981337e-02,  2.25226880e-02,  3.26985268e-02,
        1.46137787e-03,  0.00000000e+00,  5.62851782e-03,  7.87728027e-03,
       -5.48471137e-04,  5.83070380e-04, -3.46210537e-03, -1.03192075e-04,
       -2.78647356e-03,  3.00124189e-03,  9.28632846e-04,  3.33310425e-03,
        5.44539197e-03, -8.03869473e-03, -1.06448733e-03, -5.39685813e-03,
        5.32245801e-03, -1.71892189e-04, -5.87972355e-03, -2.42114001e-04,
       -3.28662861e-03, -1.73550850e-03,  1.94714882e-03,  3.01915602e-03,
        2.69868180e-03,  1.72526828e-03, -3.44459371e-05,  4.06476059e-03,
       -5.35199671e-03, -4.82891832e-04, -7.83352888e-03, -5.98240061e-03,
        1.32964764e-03,  5.94052486e-04, -2.33987567e-03, -2.13533098e-03,
       -3.50803340e-03, -8.02647328e-03,  7.52359997e-03, -6.34026066e-03,
        3.75753279e-03,  6.74530301e-03,  1.36808503e-03,  4.20374133e-04,
       -3.29154703e-03, -3.65373806e-03, -4.26657264e-03, -5.41803888e-03,
        1.67343160e-03, -4.90527139e-03,  5.25093767e-03,  6.82254282e-03,
        2.36465024e-03, -8.45040668e-03, -5.00692447e-03, -1.85581727e-03,
        1.14416476e-03,  3.78571429e-03, -2.09919590e-03, -4.02895140e-03,
        8.94966707e-04, -7.86866483e-04, -8.98450084e-03,  7.36834501e-03,
       -3.58551452e-03, -8.92407341e-03, -8.38719047e-03, -8.09197759e-03,
        3.54374308e-03, -2.13345104e-03, -1.43762902e-03, -5.68496438e-03,
        8.35344348e-03, -2.20913108e-03,  1.38007380e-02, -1.81990245e-03,
        6.30834306e-03, -1.70308367e-03,  3.84754991e-03,  2.06103558e-03,
        5.77346372e-03, -2.51139095e-03,  3.20109341e-03, -1.29069267e-03,
       -1.32825962e-03, -2.94762572e-03,  1.08158777e-04, -8.29127614e-03,
       -7.27008361e-04, -4.72899236e-03, -9.72222222e-03,  6.16372629e-03,
       -1.31689960e-02,  1.16348227e-02,  2.38838876e-03,  2.05278592e-03,
       -2.74363477e-03,  2.78786545e-03, -7.46241358e-03,  2.50617329e-03,
        8.45557149e-04, -4.18748163e-03,  6.93471044e-03, -4.76225364e-04,
       -3.04196445e-03, -9.26402470e-03, -9.57328386e-03,  0.00000000e+00,
       -3.37179679e-03, -1.27809939e-02,  2.20851420e-03,  6.76291793e-03,
       -1.77371877e-03,  7.75017958e-03, -9.37875150e-04, -1.00634599e-02,
       -2.46557676e-03,  1.36512282e-02,  1.50054395e-04,  8.55181726e-03,
        5.57848935e-03, -7.39672325e-04, -1.05851438e-02, -8.15471515e-03,
        2.94173110e-03, -8.16004212e-03,  5.26994237e-03, -1.56515180e-02,
       -4.90421456e-03,  2.27937779e-02, -7.83014606e-03, -1.05858249e-02,
       -1.26548299e-02,  2.20608226e-02, -1.26163785e-02,  2.96347612e-03,
        1.73062164e-02, -2.66304553e-02,  2.17787251e-02,  2.56381082e-02,
        1.92286359e-03, -1.69773021e-03,  1.37158490e-02,  2.91757841e-03,
        1.09090909e-03,  5.15800944e-03,  6.50477016e-03,  1.25664225e-03,
       -1.71047441e-02, -4.81576067e-03,  3.66595791e-04, -2.52858399e-03,
       -1.14258422e-02, -5.12858629e-03,  1.47553231e-02,  1.02337567e-02,
        1.26443902e-02, -1.14789493e-02, -1.56892723e-02, -1.29437870e-03,
        4.99907425e-03,  6.30066323e-03, -2.92922266e-04, -1.25993481e-02,
       -1.33165177e-02, -2.48120301e-03, -1.44719982e-02, -1.47992352e-02,
        3.89706168e-02,  5.45447753e-03, -1.93215175e-02,  4.36479370e-02,
        2.22544926e-02,  1.13644435e-03, -4.96630011e-04,  1.03634299e-02,
        6.67416046e-03, -1.14453207e-02, -4.23579245e-04,  3.88445512e-04,
       -2.11797098e-03, -8.06537196e-03, -4.52908242e-03,  1.68374292e-03,
       -9.44172240e-03,  3.42997437e-03, -6.47668394e-03, -7.24322758e-03,
        1.53217569e-03, -2.25832301e-03, -1.82535047e-03, -6.61985224e-03,
       -4.19719451e-03, -6.28535512e-03])

In [24]:
qs.stats.sharpe(pd.Series(ret))

0.5105356720103008

In [27]:
(249.92 - 268.77 )/ 268.77

-0.07013431558581686